[Unit]
Description=Run Little Joe Python Script Every Hour

[Timer]
OnCalendar=*:*:0,15,30,45
Persistent=true
Unit=little_joe.service

[Install]
WantedBy=timers.target